<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisarProdutoController</servlet-name>
        <servlet-class>controller.PesquisarProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarClienteController</servlet-name>
        <servlet-class>controller.PesquisarClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEstoqueController</servlet-name>
        <servlet-class>controller.ManterEstoqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEstoqueController</servlet-name>
        <servlet-class>controller.PesquisarEstoqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterUnidadeController</servlet-name>
        <servlet-class>controller.ManterUnidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUnidadeController</servlet-name>
        <servlet-class>controller.PesquisarUnidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarProdutoController</servlet-name>
        <url-pattern>/PesquisarProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarClienteController</servlet-name>
        <url-pattern>/PesquisarClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEstoqueController</servlet-name>
        <url-pattern>/ManterEstoqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEstoqueController</servlet-name>
        <url-pattern>/PesquisarEstoqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterUnidadeController</servlet-name>
        <url-pattern>/ManterUnidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUnidadeController</servlet-name>
        <url-pattern>/PesquisarUnidadeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
